/* Basic Styles */
body {
    position: relative;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.my-h1 {
    color: #333;
    text-align: center;
}

.my-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 25%;
}